<footer id="footer">
    Contact:<br><br>
    <div class="contact">
        <a href="tel:+91 9403024974"><i class="fa fa-phone" id="call"></i></a>
        <a href="mailto:atharvsm23@gmail.com"><i class="fa fa-envelope" id="email"></i></a>
</div><br><br>

    <span style="font-size: 13px;">@Copyright <br>Atharv Mahabal</span>
</footer>

</body>
</html>