<%- include('partials/auth-header') %>

  <body>
    <div class="welcome-container">
      <div class="welcome-title">Arterest</div>
      <div style="margin:3rem 0; text-align: center;"> Where Art Unites. <br>Create, Share, Discover.
      </div>
      <div style="display: flex; justify-content: center; gap:1rem">
        <a href="/register"><button class="explore-button">Register</button> </a>
        <a href="/login"><button class="explore-button">Login</button> </a>
      </div>
    </div>

  </body>

  </html>